@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.hover-link:hover::after {
  width: 100%;
}

/* multistep forms */

.container1 {
  max-width: 700px;
  background-color: #fff;
  margin: 0px auto;

  border-radius: 5px;
  overflow-x: hidden;
}

.progress_container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  position: relative;
}

.progress {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  z-index: 2;
  transition: all 0, 3s ease-in;
  height: 4px;
  background: #ddd;
  width: 100%;
  transition: all 0.4s ease-in;
}

.circle {
  background-color: #ddd;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
}
.circle.active {
  border-color: green;
  color: white;
  background-color: #43766c;
  z-index: 2;
  opacity: 100;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #43766c;
  color: #fff;
  padding: 4px 40px;
}
.btn:active {
  outline: none;
  transform: scale(0.98);
}

.disabled {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  color: #000;
  padding: 4xp 40px;
  background: gray;
  cursor: not-allowed;
  padding: 4px 40px;
}

.active {
  background-color: rgb(240, 237, 237);
  opacity: 0.9;

  transition: all 0.3s ease;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield; /* For Firefox */
}



